
.ck-content {
    font-family: 'Arial';
    line-height: 1.6;
    word-break: break-word;
    background-color: black !important;
    color: white;
}

.law-block {
    color: white;
    border-left: 1px solid white;
    margin: 10px;
}

.multiple-block {
    color: white;
    border: 1px solid white;
    margin: 10px;
}

.law-block-content-multiple {
    border-bottom: 0px solid white;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 5px;
  }

.law-block-chapter {
    font-weight: bold;
}


.law-block-lines {
    list-style-type: upper-roman !important;
}

.law-block-lines {
    text-align: left;
    font-size: 18px;
}

:root {
    /* Overrides the border radius setting in the theme. */
    --ck-border-radius: 4px;
    --ck-z-default: 100;

    /* Overrides the default font size in the theme. */
    --ck-font-size-base: 14px;

    /* Helper variables to avoid duplication in the colors. */
    --ck-custom-background: black;
    --ck-custom-foreground: black;
    --ck-custom-border: black;
    --ck-custom-white: hsl(0, 0%, 100%);

    /* -- Overrides generic colors. ------------------------------------------------------------- */

    --ck-color-base-foreground: var(--ck-custom-background);
    --ck-color-focus-border: hsl(208, 90%, 62%);
    --ck-color-text: hsl(0, 0%, 98%);
    --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.2);
    --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);

    /* -- Overrides the default .ck-button class colors. ---------------------------------------- */

    --ck-color-button-default-background: var(--ck-custom-background);
    --ck-color-button-default-hover-background: hsl(270, 1%, 22%);
    --ck-color-button-default-active-background: hsl(270, 2%, 20%);
    --ck-color-button-default-active-shadow: hsl(270, 2%, 23%);
    --ck-color-button-default-disabled-background: var(--ck-custom-background);

    --ck-color-button-on-background: var(--ck-custom-foreground);
    --ck-color-button-on-hover-background: hsl(255, 4%, 16%);
    --ck-color-button-on-active-background: hsl(255, 4%, 14%);
    --ck-color-button-on-active-shadow: hsl(240, 3%, 19%);
    --ck-color-button-on-disabled-background: var(--ck-custom-foreground);

    --ck-color-button-action-background: hsl(168, 76%, 42%);
    --ck-color-button-action-hover-background: hsl(168, 76%, 38%);
    --ck-color-button-action-active-background: hsl(168, 76%, 36%);
    --ck-color-button-action-active-shadow: hsl(168, 75%, 34%);
    --ck-color-button-action-disabled-background: hsl(168, 76%, 42%);
    --ck-color-button-action-text: var(--ck-custom-white);

    --ck-color-button-save: hsl(120, 100%, 46%);
    --ck-color-button-cancel: hsl(15, 100%, 56%);

    /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */

    --ck-color-dropdown-panel-background: var(--ck-custom-background);
    --ck-color-dropdown-panel-border: var(--ck-custom-foreground);

    /* -- Overrides the default .ck-dialog class colors. ----------------------------------- */

    --ck-color-dialog-background: var(--ck-custom-background);
    --ck-color-dialog-form-header-border: var(--ck-custom-border);

    /* -- Overrides the default .ck-splitbutton class colors. ----------------------------------- */

    --ck-color-split-button-hover-background: var(--ck-color-button-default-hover-background);
    --ck-color-split-button-hover-border: var(--ck-custom-foreground);

    /* -- Overrides the default .ck-input class colors. ----------------------------------------- */

    --ck-color-input-background: var(--ck-custom-background);
    --ck-color-input-border: hsl(257, 3%, 43%);
    --ck-color-input-text: hsl(0, 0%, 98%);
    --ck-color-input-disabled-background: hsl(255, 4%, 21%);
    --ck-color-input-disabled-border: hsl(250, 3%, 38%);
    --ck-color-input-disabled-text: hsl(0, 0%, 78%);

    /* -- Overrides the default .ck-labeled-field-view class colors. ---------------------------- */

    --ck-color-labeled-field-label-background: var(--ck-custom-background);

    /* -- Overrides the default .ck-list class colors. ------------------------------------------ */

    --ck-color-list-background: var(--ck-custom-background);
    --ck-color-list-button-hover-background: var(--ck-color-base-foreground);
    --ck-color-list-button-on-background: var(--ck-color-base-active);
    --ck-color-list-button-on-background-focus: var(--ck-color-base-active-focus);
    --ck-color-list-button-on-text: var(--ck-color-base-background);

    /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */

    --ck-color-panel-background: var(--ck-custom-background);
    --ck-color-panel-border: var(--ck-custom-border);

    /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */

    --ck-color-toolbar-background: var(--ck-custom-background);
    --ck-color-toolbar-border: var(--ck-custom-border);

    /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */

    --ck-color-tooltip-background: hsl(252, 7%, 14%);
    --ck-color-tooltip-text: hsl(0, 0%, 93%);

    /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */

    --ck-color-image-caption-background: hsl(0, 0%, 97%);
    --ck-color-image-caption-text: hsl(0, 0%, 20%);

    /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */

    --ck-color-widget-blurred-border: hsl(0, 0%, 87%);
    --ck-color-widget-hover-border: hsl(43, 100%, 68%);
    --ck-color-widget-editable-focus-background: var(--ck-custom-white);

    /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */

    --ck-color-link-default: hsl(190, 100%, 75%);
}

.ck-editor__main {
    padding: 0px !important;
    margin: 0 !important;
    width: 100%;
}


th {
    text-align: center !important;
    color: black;
    border: 1px solid white ;
    text-align: center;
    background-color: #76BB8D;
}

tr {
    text-align: center !important;
    border: 1px solid white;
    text-align: center;
    color: white;
}

.ck-widget__type-around {
    display: none;
}

.ck-widget__resizer {
    display: none;
}

.image {
    overflow-y: auto;
    max-width: fit-content;
    max-height: 400px;
}

td {
    text-align: center !important;
    border: 1px solid white;
    text-align: center;
    color: white;
}

table, td, th {
    border: 1px solid white !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}



#writer, #folder {
  padding: 5px 5px;
}



body {
    background-color: #000;
    color: #fff;
    display: block;
    margin: 0;
    font-family: Arial, sans-serif;
}

.law-content { /* 底部白色底線 */
    margin-bottom: 20px; /* 與下一個元素的距離 */
    padding: 10px 0; /* 讓內容與底線有些空間 */
}

.law-chapter {
    font-weight: bold; /* 文字粗體 */
    text-align: left;  /* 文字靠左對齊 */
}

.law-lines {
    text-align: left;  /* 文字靠左對齊 */
}



img {
  width: 100% !important;
  height: 100% !important;
}
  


#public-folder-ck p {
  font-size: 20px;
}

#word-area h2, #public-folder-ck h2 {
  font-weight: 500; /* 正確的 font-weight 應該是沒有單位的 */
  line-height: 3rem;
  font-size: 28px;
}

#word-area h3, #public-folder-ck h3 {
  font-weight: 800;
  font-size: 24px;/* 正確的 font-weight 應該是沒有單位的 */
 }


#word-area h2:after, #public-folder-ck h2:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 93%; /* 根據需要可調整寬度 */
    height: 0.5px;
    background-color: white; /* 設置底線顏色 */
}



.law-block-chapter-num {
  display: flex;
  align-items: center;
}


#content-table li {
  margin-top: 5px;
}

#content-table {
  list-style: none;
  padding: 0;
}

#content-table-area {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5px 0;
  margin-top: 10px;
}

#content-table-area h3 {
  margin: 0;
  font-size: 25px;
}


#private-content-table {
  list-style: none;
  padding: 0;
}

#private-content-table-area {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5px 0;
  margin-top: 10px;
}

#private-content-table-area h3 {
  margin: 0;
}

.content-table-h3 {
  padding-left: 5px;
  font-size: 20px;
  font-weight: 300;
}

.content-table-h3, .content-table-h2 {
  color: white;
  text-decoration: none;
  }

.content-table-h2 {
  font-weight: bold;
  font-size: 20px;
  font-weight: 700;
}

